<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shenronproductions.app1">

    <uses-sdk
        android:minSdkVersion="11"
        />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:isGame="true">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.offlineAct"
            android:label="@string/title_activity_offline"
            android:parentActivityName=".Activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.newcharAct"
            android:label="@string/title_activity_newchar"
            android:parentActivityName=".Activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.gameAct"
            android:label="@string/title_activity_game"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.customizeAct"
            android:label="@string/title_activity_customize"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
